.default-theme .clear {
  clear: both;
}

.default-theme .nowrap {
  overflow: hidden;
  white-space: nowrap;
}

.default-theme .box {
  border: 1px solid black;
}

.default-theme .middle { 
  vertical-align: middle;
}

.default-theme .medium-height {
    line-height: 3em;
    height: 3em;
}

.default-theme .reset-height {
    display: inline-block;
    line-height: 1em;
}

.default-theme .flex-container {
  margin: 0 auto;
  text-align: center;
}

.default-theme .flex-item {
  display: inline-block;
  color: transparent;
}

.default-theme .flex-item-inner {
  background: transparent;
  margin: 1em;
  padding: 1em;
  padding-bottom: 2em;
  box-shadow: 0em 0em 1.8em 0.8em rgba(0,0,0,0.8);
  text-align: left;
  max-width: 22em;
  max-height: 10em;
  min-width: 22em;
  min-height: 10em;
}

.default-theme .flex-item-inner .nowrap {

}

.flex-item .overlay {
  background-color: transparent;
  position: absolute;
  margin: 1.8em;
  top: 0em;
  right: 0em;
}

.flex-item .overlay a {
  float: left;
  color: white;
  font-size: 1.5em;
  background-color: black;
  display: block;
  width: 4.5em;
  height: 4.5em;
  line-height: 4em;
  text-align: center;
  vertical-align: middle;
  opacity: 0.8;
}

.default-theme .flex-item .info-block {
  float: left;
  font-size: 1em;
}

.default-theme .flex-item .project {
  font-weight: bold;
}

.default-theme .flex-item .project-definition-separator {
  border-left: 1px solid;
  padding-left: 0.8em;
  margin-left: 0.8em
}

.default-theme .flex-item .definition {
}

.default-theme .flex-item .number {
  font-size: 1.9em;
}

.default-theme .flex-item .duration-block {
  float: right;
  font-size: 0.7em;
}

.default-theme .flex-item .duration-icon {
  font-size: 2.6em;
  float: left;
  margin-top: 3px;
}

.default-theme .flex-item .time {
  margin-left: 0.8em;
}

.default-theme .flex-item .status {
  float: left;
  font-family: 'open_sans_condensedbold';
  font-weight: bold;
  font-size: 1.8em;
}

.default-theme .flex-item .reason {
  margin-left: 0.8em;
  font-size: 1em;
}

.default-theme .flex-item .reason-icon {
  font-size: 1.8em;
}

.default-theme .flex-item .reason-block {
  float: right;
}

.default-theme .flex-item .for {
  margin-left: 1em;
  font-size: 1.5em;
}

.default-theme .requestedFor-block {
  font-size: 1em;
  float: left;
  vertical-align: middle;
}

.default-theme .flex-item .warnings {
  font-weight: bold;
  font-size: 1.5em;
  float: right;
  vertical-align: middle;
}